body {
  font-family: 'Lexend Deca', sans-serif;
}

textarea {
  font-family: 'Lexend Deca', sans-serif;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.adminPage {
  font-size: small;
  position: absolute;
  left: .5vw;
  width: 99vw;
}

.detailText {
  font-size: small;
}

.leftAlignColumn {
  text-align: left;
}

.col70px {
  width: 70px;
}

.col5vw {
  width: 5vw;
}

.col20vw {
  width: 20vw;
}

.col6vw {
  width: 6vw;
  padding-bottom: 8px;
}

.col8vw {
  width: 8vw;
}
.singleModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  background-color: rgb(255, 255, 255, 1);
  border-radius: 20px;
  border: solid green 1px;
  z-index: 2;
  padding: 2vh 1vw 3vh 1vw;
}

.itemAdded {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  /* width: 80vw; */
  background-color: rgb(255, 255, 255, 1);
  border-radius: 20px;
  border: solid red 1px;
  z-index: 3;
  padding: 2vh 1vw 3vh 1vw;
}

textarea, .inputDeliveryNotes {
  display: block;
  overflow: hidden;
  width: 171px;
  resize: vertical;
}

textarea, .messageBody {
  display: block;
  overflow: hidden;
  width: 171px;
  resize: vertical;
}

.messageReply {
  display: block;
  /* overflow: hidden; */
  overflow-y: scroll;
  width: 90vw;
  resize: none;
}

.messageSend {
  display: block;
  /* overflow: hidden; */
  overflow-y: scroll;
  width: 80vw;
  resize: none;
}

.validationText {
  font-size: small;
  color: red;
}

.adminDiv {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;

}

.adminRow {
  vertical-align: top;
}

.topAlignTable {
  vertical-align: top;
}

.topAlignTableRow {
  vertical-align: top;
  height: 25px;
}

.topAlignItemTableRow {
  vertical-align: top;
}

.publicPriceText {
  color: rgb(95, 93, 93);
  font-weight: 500;
  font-size: large;
}

.publicSeedName {
  /* color: rgb(95, 93, 93);
  font-weight: 500; */
  font-size: large;
}


.bottomAlignTableRow {
  vertical-align: bottom;
}



.adminSubRow:nth-child(even) {
  color: darkgreen;
}

.adminSubRow:nth-child(odd) {
  background-color: transparent;
}

.adminLink, a:link {
  color: rgb(60, 60, 145);
  text-decoration: none;
  font-weight: bold;
}

.adminLink, a:visited {
  color: rgb(60, 60, 145);
  text-decoration: none;
  font-weight: bold;
}

.adminLink, a:hover {
  color: rgb(60, 60, 145);
  text-decoration: underline;
  font-weight: bold;
}

.alertRedText{
  color: red;
  font-weight: bold;
}

.userListDiv {
  max-width: 95vw;
}

.hide {
  visibility: hidden;
}

.adminSectionTitle {
  font-weight: bold;
  font-size: 2vh;
  color: green;
}

.adminSortText {
  font-weight: bold;
  color: gray;
}

.searchResultsDiv {
  z-index: 2;
  display: inline-block;
}

.rightCell {
  text-align: right;
}

@page {
  size: auto;
  margin: 0;
 }

 .printTable {
  table-layout: auto;
  border-collapse: collapse;
  border: 1in solid transparent;
  width: 100%;
 }

 .printItemsTable {
  border-collapse: collapse;
  table-layout: auto;
  border: 1in solid transparent;
  margin-right: 1in;
  margin-left: auto;
  width: 80%;
  border-bottom: solid black 1px;
  border-top: solid transparent 1px;
  border-left: solid transparent 1px;
  border-right: solid transparent 1px;
 }

 .shipperRow {
  border: 1px solid black;
 }

 .shipperDeliveryNotes {
    max-width: 40%;
    width: 40%;
    margin-right: 0px;
    margin-left: auto;
 }

.printItemsRow {
  border: solid 1px black;
 }

 .noBottomBorder {
  border-bottom: transparent 1px solid;
 }

 .shipperLogo {
  z-index: 2;
  position: absolute;
  top: .75in;
  left: .5in;
 }

 .rightBorder {
  border-right: solid 1px lightgrey;
  padding-right: .5vw;
 }

.separateLinkRight {
  padding-right: 5px;
}

.separateLinkLeft {
  padding-left: 5px;
  border-left: solid 1px rgb(60, 60, 145);;
}

.grayText {
  color: rgb(95, 93, 93);
  font-weight: 500;
}

.boldGray {
  color: darkSlateGray;
  font-weight: 650;
}

.noteColumn {
  max-width: 10vw;
  min-width: 10vw;
}

.firstColumn {
  background-color: white;
}

.quantityInput {
  width: 50px;
}

.qtyInput {
  width: 20px;
  text-align: center;
}

.priceInput {
  width: 90px;
}

.newOrder {
  display: flex;
}

.newOrder1 {
  position: relative;
}

.newOrder2 {
  position: relative;
  left: 1vw;
}

.nudgeRight4 {
  padding-left: 4px;
}

.nudgeRight3 {
  padding-left: 3px;
}

.nudgeRight2 {
  padding-left: 2px;
}

.shortNoteColumn {
  max-width: 9.5vw;
  min-width: 9.5vw;
}

.boldTotal {
  font-weight: bold;
}

.nav {
  min-height: 120px;
  max-height: 12vh;
  object-fit: contain;
}

.navLogo {
  height: 100px;
  width: auto;
}

.greenBar {
  background-color: green;
  color: white;
  height: 3vh;
  line-height: 3vh;
  text-align: right;
  padding-right: 10px;
  font-size: 2vh;
}

.logoLinks {
  display: flex;
  width: 100%;
}

.itemThumb {
  max-width: 70px;
  border: solid green 1px;
  border-radius: 5px;
}

.itemImage {
  max-width: 150px;
}

.centerText {
  text-align: center;
}

.leftText {
  text-align: left;
}

.publicColumnHeading {
  font-size: larger;
}

.adminRow:nth-child(even) {
   background-color: rgb(208, 211, 211);
}

.adminRow:nth-child(odd) {
  background-color: rgb(229, 226, 226);
}

.adminRow:nth-child(1) {
  background-color: transparent;
}

.itemRow, tr {
  border-collapse: collapse;
  /* border-top: solid black 1px;
  border-bottom: solid transparent 1px; */
}
.itemRow:nth-child(even) {
  background-color: rgb(208, 211, 211);
  
}

.itemRow:nth-child(odd) {
 background-color: rgb(229, 226, 226);
}

.centerInput {
  margin: auto;
}

.padCell {
  padding-left: 5px;
  padding-right: 5px;
}

.navLinksWrapper {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-5%, 0%);
}

.navLink:link {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.navLink:visited{
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.navLink:hover{
  color: green;
  font-weight: 400;
}

.whiteLink:link {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.whiteLink:visited{
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.whiteLink:hover{
  color: white;
  font-weight: 500;
}

.pubPage {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
}

.pubContent {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  width: 92%;
}
.loginInputs {
  /* position: relative;
  top: 20vh;
  left: calc(50vw - 120px); */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centeredDiv {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: solid green 1px;
  border-radius: 20px;
  padding: 1vh 1vw 1vh 1vw;
  background-color: rgba(211, 211, 211, 0.404);
}

.topCenteredDiv {
  position: absolute;
  left: 50%;
  top: 17%;
  transform: translate(-50%, 0%);
  border: solid green 1px;
  border-radius: 20px;
  padding: 0vh 1vw 1vh 1vw;
  background-color: rgba(211, 211, 211, 0.404);
}

.itemsDiv {
  position: absolute;
  left: 50%;
  top: 20vh;
  transform: translate(-50%, 0%);
  border: solid green 1px;
  border-radius: 20px;
  padding: 2vh 1vw 3vh 1vw;
  background-color: rgba(211, 211, 211, 0.404);
  z-index: 1;
}

.wideDiv {
  min-width: 70%;
  max-width: 90%;
}

.homePromo {
  max-width: 80%;
  max-height: 75%;
  background-color: rgb(231, 229, 229);
}

.createAccount {
  display: inline-block;
  /* position: relative;
  top: 20vh;
  left: calc(50vw - 120px); */
  position: relative;
  left: 50%;
  top: 2vw;
  transform: translate(-50%, 0%);
}

.max200 {
  display: inline-block;
  max-width:200px;
}

.noScroll {
  overflow: hidden;
}

.footerDiv {
  position: fixed;
  bottom: 0vh;
  width: 100%;
  z-index: 3;
  text-align: center;
  background-color: rgb(10, 34, 10);
  color: gray;
  font-size: small;
}

.linkDiv {
  line-height: 70px;
  font-size: calc(20px + .5vh);
  padding-right: 1.25vw;
  padding-left: 1.25vw;
}

.liu {
  position: absolute;
  left: 5px;
}

.loginResult {
  text-align: center;
}

.miniText {
  font-size: x-small;
}

.showMessageCount {
  font-size: medium;
  vertical-align: top;
}

.boldText {
  font-weight: bold;
}

.question {
  font-weight: 600;
  color: green;
}

.answer {
  padding-bottom: 12px;
  font-size: small;
}

.faqTable {
  width: 90vw;
}

.seedCol {
  min-width: 150px;
}

.paymentOptionDetails {
  width: 50vw;
  max-width: 50vw;
}

.paymentOptionSpan {
  position: relative;
  left: 2vw;
}

.paymentInstructions {
  margin-bottom: 10px;
}

.greenText {
  color: green;
  font-weight: 500;
}

.nextText:hover, .nextText:link, .nextText:visited {
  font-size: small;
  color: green;
}

.hlGreen {
  text-shadow: 1px 1px green
}

.hlRed {
  text-shadow: 1px 1px red
}

.strikeThrough {
  text-decoration: line-through;
}

.payPalButtonDiv {
  display: inline-block;
  max-width: 800px;
}

.selectedMessages {
  background-color: #043d632f;
  border-radius: 45%;
}

.messagePadding {
  /* margin-left: 3px;
  margin-right: 3px;
  border: solid black 3px; */
  padding-left: 5px;
  padding-right: 5px;
}

.itemPadding {
  padding-left: 4px;
  padding-right: 4px;
}

.contactTextArea {
  width: 20vw;
}

/* .contactFormItem {
  display: inline-block;
  width: 12vw;
} */

/* Media queries */

@media (orientation: landscape) {
  .homeImageDiv {
    background-image: url('./components/photos/HomeImage1.jpeg');
    position: relative;
    height:100%;
    background-size: cover;
    z-index: 2;
    border-top: solid black 1px;
  }

  .aboutImageDiv {
    background-image: url('./components/photos/aboutImageLandscape.png');
    position: relative;
    height:100%;
    background-size: cover;
    z-index: 2;
    border-top: solid black 1px;
  }

  .navLogoDiv {
    display: flex;
    padding-left: .5vw;
    padding-right: 2vw;;
  }

  .linkDivLandscape {
    line-height: 70px;
    font-size: calc(18px + .5vh);
    padding-right: .75vw;
    padding-left: .75vw;
  }

  .navLinksDivLandscape {
    display: flex;
  }

  .navLinksDivPortrait {
    display: none;
  }

  .linkDivPortrait {
    display: none;
  }

  .homeImageLandscape {
    width: 100vw;
  }

  .homeImagePortrait {
    display: none;
  }


}

@media (orientation: portrait) {
  .adminRow {
    vertical-align: top;
    font-size: small;
  }

  .preTax {
    font-size: small;
  }

  .seedCol {
    min-width: 10px;
  }

  .homeImageDiv {
    background-image: url('./components/photos/HomeImage2.jpeg');
    position: relative;
    height:100%;
    background-size: cover;
    z-index: 2;
  }
  .cheeseburger {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 50px;
    top: 20px;
    width: 50vw;
  }
  .tb {
    background-color: black;
    width: 30px;
    max-width: 30px;
    min-width: 30px;height: 3px;
    border-radius: 50%;
  }

  .portraitLinks {
    margin-right: 5px;
    font-size: x-small;
  }

  .showMenu {
    position: absolute;
    top: -1.3vh;
    left: 35px;
  }

  .mid {
    background-color: black;
    width: 24px;
    max-width: 24px;
    min-width: 24px;height: 3px;
    margin: 3px;
    border-radius: 50%;
  }
  .navLinksDivLandscape {
    display: none;
  }

  .navLinksDivPortrait {
    display: flex;
  }

  .linkDivPortrait {
    /* line-height: 70px; */
    font-size: calc(2.2vw);
    padding-right: 1.25vw;
    padding-left: 1.25vw;
  }

  .linkSubDiv {
    display: flex;
  }

  .homeImageLandscape {
    display: none;
  }

  .homeImagePortrait {
    /* display: none; */
    width: 100vw;
  }
  @media screen and (max-width: 400px) {
    .navLogoDiv {
      display: flex;
      padding-left: 1vw;
      padding-right: 1vw;;
    }
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* spinner */

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }