.hidden {
  display: none;
}

.adminPage {
  font-size: small;
}

.adminDiv {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;

}

.adminTable, tr:nth-child(even) {
   background-color: rgb(208, 211, 211);
}

.adminTable, tr:nth-child(odd) {
  background-color: rgb(230, 233, 233);
}

.adminTable, tr:nth-child(1) {
  background-color: transparent;
}

.adminLink, a:link {
  color: rgb(60, 60, 145);
  text-decoration: none;
  font-weight: bold;
}

.adminLink, a:visited {
  color: rgb(60, 60, 145);
  text-decoration: none;
  font-weight: bold;
}

.adminLink, a:hover {
  color: rgb(60, 60, 145);
  text-decoration: underline;
  font-weight: bold;
}

.alertRedText{
  color: red;
  font-weight: bold;
}

.userListDiv {
  max-width: 95vw;
}