.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.adminPage {
  font-size: small;
  position: absolute;
  left: .5vw;
  width: 99vw;
}

.adminDiv {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;

}

.adminRow {
  vertical-align: top;
}

.topAlignTable {
  vertical-align: top;
}

.topAlignTableRow {
  vertical-align: top;
  height: 25px;
}

.adminRow:nth-child(even) {
   background-color: rgb(208, 211, 211);
}

.adminRow:nth-child(odd) {
  background-color: rgb(229, 226, 226);
}

.adminRow:nth-child(1) {
  background-color: transparent;
}

.adminSubRow:nth-child(even) {
  color: darkgreen;
}

.adminSubRow:nth-child(odd) {
  background-color: transparent;
}

.adminLink, a:link {
  color: rgb(60, 60, 145);
  text-decoration: none;
  font-weight: bold;
}

.adminLink, a:visited {
  color: rgb(60, 60, 145);
  text-decoration: none;
  font-weight: bold;
}

.adminLink, a:hover {
  color: rgb(60, 60, 145);
  text-decoration: underline;
  font-weight: bold;
}

.alertRedText{
  color: red;
  font-weight: bold;
}

.userListDiv {
  max-width: 95vw;
}

.hide {
  visibility: hidden;
}

.adminSectionTitle {
  font-weight: bold;
  font-size: 2vh;
  color: green;
}

.adminSortText {
  font-weight: bold;
  color: gray;
}

.searchResultsDiv {
  z-index: 2;
  display: inline-block;
}

.rightCell {
  text-align: right;
}

@page {
  size: auto;
  margin: 0;
 }

 .printTable {
  table-layout: auto;
  border-collapse: collapse;
  border: 1in solid transparent;
  width: 100%;
 }

 .printItemsTable {
  border-collapse: collapse;
  table-layout: auto;
  border: 1in solid transparent;
  margin-right: 1in;
  margin-left: auto;
  width: 80%;
  border-bottom: solid black 1px;
  border-top: solid transparent 1px;
  border-left: solid transparent 1px;
  border-right: solid transparent 1px;
 }

 .shipperRow {
  border: 1px solid black;
 }

 .shipperDeliveryNotes {
    max-width: 40%;
    width: 40%;
    margin-right: 0px;
    margin-left: auto;
 }

.printItemsRow {
  border: solid 1px black;
 }

 .noBottomBorder {
  border-bottom: transparent 1px solid;
 }

 .shipperLogo {
  z-index: 2;
  position: absolute;
  top: .75in;
  left: .5in;
 }

 .rightBorder {
  border-right: solid 1px lightgrey;
  padding-right: .5vw;
 }

.separateLinkRight {
  padding-right: 5px;
}

.separateLinkLeft {
  padding-left: 5px;
  border-left: solid 1px rgb(60, 60, 145);;
}

.grayText {
  color: rgb(95, 93, 93);
  font-weight: 500;
}

.boldGray {
  color: darkSlateGray;
  font-weight: 650;
}

.noteColumn {
  max-width: 10vw;
  min-width: 10vw;
}

.firstColumn {
  background-color: white;
}

.quantityInput {
  width: 50px;
}

.priceInput {
  width: 90px;
}

.newOrder {
  display: flex;
}

.newOrder1 {
  position: relative;
  /* background-color: green; */
}

.newOrder2 {
  position: relative;
  left: 1vw;
  /* background-color: red; */
}

.nudgeRight4 {
  padding-left: 4px;
}

.nudgeRight3 {
  padding-left: 3px;
}

.nudgeRight2 {
  padding-left: 2px;
}

.shortNoteColumn {
  max-width: 9.5vw;
  min-width: 9.5vw;
}

.boldTotal {
  font-weight: bold;
}